
body{
    overflow: scroll;
}

.product{
    min-height: 70vh;
    margin-top: 30px;
}

.input-group .button-minus{
    margin-left: 0px;
}

.product_description{
    margin-top: 30px;
}
